
<div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
  <div style="flex-basis: calc(28% - 20px); margin-bottom: 20px; background-color: #f0f0f0; padding: 20px;">
    <app-empresa></app-empresa>
  </div>
  <div style="flex-basis: calc(28% - 20px); margin-bottom: 20px; background-color: #f0f0f0; padding: 20px;">
    <app-categoria></app-categoria>
  </div>
  <div style="flex-basis: calc(28% - 20px); margin-bottom: 20px; background-color: #f0f0f0; padding: 20px;">
    <app-tecnico></app-tecnico>
  </div>
  <div style="flex-basis: calc(28% - 20px); margin-bottom: 20px; background-color: #f0f0f0; padding: 20px;">
    <app-cliente></app-cliente>
  </div>
  <div style="flex-basis: calc(28% - 20px); margin-bottom: 20px; background-color: #f0f0f0; padding: 20px;">
    <app-conocimiento></app-conocimiento>
  </div>
  <div style="flex-basis: calc(28% - 20px); margin-bottom: 20px; background-color: #f0f0f0; padding: 20px;">
    <app-proyecto></app-proyecto>
  </div>
  <div style="flex-basis: calc(28% - 20px); margin-bottom: 20px; background-color: #f0f0f0; padding: 20px;">
    <app-tecnicoproyecto></app-tecnicoproyecto>
  </div>
</div>


